<div class="jumbotron">
<div style="width: 102%; height: 102%">
</div>
    <ol>
        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-dark">A: CENTRO DE INFORMACION.</button>
                <button type="button" class="btn btn-dark">B: AULAS DE LETRAS Y CIENCIAS BASICAS.</button>
                <li>C: LABORATORIO DE QUIMICA Y FISICA.</li>
                <li>D: LABORATORIO DE METODOS.</li>
                <li>E: SALA AUDIOVISUAL Y ESTACION DE RADIO.</li>
                <li>F: LABORATORIO DE ELECTRONICA E INCUBADORA DE PROYECTOS.</li>

            </div>
            <div class="col-sm-4">

                <button type="button" class="btn btn-dark">G: UNIDAD ACADÉMICA DEPARTAMENTAL.</button>
                <li>H: AULAS DE CIVIL.</li>
                <li>I: LABORATORIO DE INGENIERIA CIVIL.</li>
                <li>J: LABORATORIO DE COMPUTO.</li>
                <li>k: GIMNASIO AUDITORIO.</li>
                <li>L: EDIFICIO DE RECURSOS MATERIALES.</li>
                <li>M: CAFETERIA.</li>
            </div>
        </div>
    </ol>
</div>